h1 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 48px;
    color: #2c3e50;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 80px;
}
div.container {
    background-color: rgb(255, 228, 196);
    padding: 20px;
    min-width: 80%;
    padding-right: 10%;
    padding-left: 10%;
}

form {
    margin-bottom: 30px;
}

a{
    color: rgb(179, 179, 179);
}