<div class="container">
    <h1>Money Mate</h1>
    <h2>{{ 'leaveUs' | translate }}</h2>
    <form [formGroup]="form" (submit)="logout()">
        <div class="row">
            <!-- Redirixe ao home -->
            <div class="col-md-6">
                <a [routerLink]="['/']">
                    <div class="form-group">
                        <label for="exit-btn">&nbsp;</label>
                        <button class="btn btn-primary form-control" type="button" id="exit-btn"
                            style="background-color: '#3085d6';">{{ 'maybeLater' | translate }}</button>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="logout-btn">&nbsp;</label>
                    <button class="btn btn-danger form-control" type="submit" id="logout-btn"
                        style="background-color: #ff6551;">{{ 'logout' | translate }}</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="d-flex justify-content-center">
    <div class="col-md-3">
        <div class="form-group">
            <label for="update-btn">&nbsp;</label>
            <button class="btn btn-dark form-control" type="button" id="update-btn" (click)="userUpdate()">{{ 'update Profile' | translate }}</button>
        </div>
    </div>
</div>
<div class="d-flex align-items-end flex-column mt-5 me-1">
    <div class="col-md-1 mt-5">
        <div class="form-group mt-5">
            <label for="delete-acount-btn">&nbsp;</label>
            <button class="btn btn-danger form-control" type="button" id="delete-acount-btn"
                style="background-color: #ff6551;" (click)="deleteAccount()">{{ 'deleteAccount' | translate }}</button>
        </div>
    </div>
</div>