<div class="container">
    <h1>MoneyMate</h1>
    <h2>{{ 'home' | translate }}</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>{{ 'expenses' | translate }}</th>
                <th>{{ 'expensesTypes' | translate }}</th>
                <th>{{ 'amount' | translate }}</th>
                <th>{{ 'date' | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="expense-list">
            <tr *ngFor="let expense of expensesList | paginate: {itemsPerPage: expensesPerPage, currentPage: currentPage}">
                <td>{{expense.name}}</td>
                <td>
                    <div *ngFor="let expenseType of expensesTypesList">
                        <div *ngIf="expenseType.id === expense.expense_type_id">
                            {{expenseType.name}}
                        </div>
                    </div>
                </td>
                <td>{{expense.amount}}</td>
                <td>{{expense.date}}</td>
                <td>
                    <button type="button" class="btn btn-light" (click)="selectUpdate(expense)">
                        <i class="fa-sharp fa-solid fa-shake fa-pen-to-square" style="color: #ffe4c4;"></i>
                    </button>
                    <button type="button" class="btn btn-light" (click)="deleteExpense(expense.id)">
                        <i class="fa-solid fa-dumpster-fire fa-bounce ms-2" style="color: #ff6551;"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex flex-row-reverse">
        <div class="form-group">
            <label for="delete-btn">&nbsp;</label>
            <button (click)="clearOwnExpenses()" class="btn btn-danger mb-3" type="button"
                style="background-color: #ff6551;">{{ 'clearExpends' | translate }}</button>
        </div>
    </div>
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>