<div class="container">
    <h1>Money Mate</h1>
    <h2>{{ 'saveNewExpense' | translate }}</h2>
    <form (ngSubmit)="postOwnExpenses()">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label for="type">{{ 'type' | translate }}:</label>
                    <select class="form-select" id="type" name="type" [(ngModel)]="expenseToSave.expense_type_id">
                        <option *ngFor="let expenseType of expensesTypesList" value="{{expenseType.id}}">{{
                            expenseType.name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="name">{{ 'expense' | translate }}:</label>
                    <input class="form-control" type="text" id="name" name="name" [(ngModel)]="expenseToSave.name">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="amount">{{ 'amount' | translate }}:</label>
                    <input class="form-control" type="number" id="amount" name="amount" step="1" min="0" placeholder="0"
                        [(ngModel)]="expenseToSave.amount">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="date">{{ 'date' | translate }}:</label>
                    <input class="form-control" type="date" id="date" name="date" [(ngModel)]="expenseToSave.date">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="save-btn">&nbsp;</label>
                    <button class="btn btn-primary form-control" type="submit" id="save-btn"
                        style="background-color: '#3085d6';">{{ 'save' | translate }}</button>
                </div>
            </div>
        </div>
    </form>
    <h2>{{ 'findExpenses' | translate }}</h2>
    <form (ngSubmit)="getSimilarExpenses()">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="nameToFind">{{ 'expense' | translate }}:</label>
                    <input class="form-control" type="text" id="nameToFind" name="nameToFind" [(ngModel)]="nameToFind">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="filter-btn">&nbsp;</label>
                    <button class="btn btn-primary form-control" type="submit" id="find-btn"
                        style="background-color: '#3085d6';">{{ 'find' | translate }}</button>
                </div>
            </div>
        </div>
    </form>
    <table *ngIf="filtrado" class="table">
        <thead class="thead-dark">
            <tr>
                <th>{{ 'expenses' | translate }}</th>
                <th>{{ 'expensesTypes' | translate }}</th>
                <th>{{ 'amount' | translate }}</th>
                <th>{{ 'date' | translate }}</th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let expense of filteredExpensesList | paginate: {itemsPerPage: expensesPerPage, currentPage: currentPage}">
                <td>{{expense.name}}</td>
                <td>
                    <div *ngFor="let expenseType of expensesTypesList">
                        <div *ngIf="expenseType.id === expense.expense_type_id">
                            {{expenseType.name}}
                        </div>
                    </div>
                </td>
                <td>{{expense.amount}}</td>
                <td>{{expense.date}}</td>
                <td>
                    <button type="button" class="btn btn-light" (click)="selectUpdate(expense)">
                        <i class="fa-sharp fa-solid fa-shake fa-pen-to-square" style="color: #ffe4c4;"></i>
                    </button>
                    <button type="button" class="btn btn-light" (click)="deleteExpense(expense.id)">
                        <i class="fa-solid fa-dumpster-fire fa-bounce ms-2" style="color: #ff6551;"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>