<div class="container">
    <h1>Money Mate</h1>
    <h2>{{ 'login' | translate }}</h2>
    <form [formGroup]="form" (submit)="postLogin()">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="{{ 'username' | translate }}"
                        formControlName="username">
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="{{ 'password' | translate }}"
                        formControlName="password" autocomplete="on">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="save-btn">&nbsp;</label>
                    <button class="btn btn-primary form-control" type="submit" id="save-btn"
                        style="background-color: '#3085d6';">{{ 'login' | translate }}</button>
                </div>
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-end">
        <a [routerLink]="['/sign-in']">{{ 'haventAccount' | translate }}</a>
    </div>
</div>